*
{
    margin: 0;
    padding: 0
}
body
{
    background: #333;
    height: 45vh;
    overflow: hidden;
}
.cr
{
    transition: 0.5s;
 width: 500px;
 height: 500px;
 background: linear-gradient(130deg, rgb(7, 161, 250), #cc007d);
 border-radius: 50%;
 position: relative;
 top: 50%;
 left: 10%;
 z-index: 10000;
 animation-name: ana;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 opacity: 70%;
}
.cr1
{
    transition: 0.5s;
 width: 500px;
 height: 500px;
 background: linear-gradient(130deg, rgb(96, 250, 7), #cc007d);
 border-radius: 50%;
 position: relative;
 top: -65%;
 left: 70%;
 z-index: 10000000;
 animation-name: anb;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 opacity: 80%;
}
h1
{
    color: #999;
    position: relative;
    top: 110%;
    left: 50%;
}
@keyframes ana
{
    50%
    {
        left: 70%;
        top: 100%;
    }
}
@keyframes anb
{
    50%
    {
        left: 10%;
        top: 0%;
    }
}